@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Moon+Dance&family=Satisfy&display=swap');


:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arapey', serif;
}
body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient(90deg, white 50%, #dfb392cc 0%); */
}
  
header{
    background: rgba(0, 0, 0, 0);
    color: white;
}


.navbar {
    position: sticky;
    top: 0;
    height: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: #dfb392;
    z-index: 2;
  }
  .navbar ul{
    list-style: none;
    display: flex;
  }
  ul i{
    font-size: 1.5rem;
    position: relative;
    margin-left: 2rem;
   margin-top: 2.5rem;

  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar.sticky{
    background: #00000000;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .nav-link {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 40px 40px 40px;
    margin: 0px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #dfb392;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
  }
  
  .nav-link-ltr:hover::before {
    width: 50%;
  }
  .menu-list{
    padding-top: 2rem;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .swiper-button-next, .swiper-button-prev{
    padding: 1.7rem;
  }
  
  .nav-icon {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  
.cart-btn {
  padding-top: 3rem;
    position: relative;
    right: 40px;
    cursor: pointer;
    z-index: 1;
  }
  .cart-items {
    z-index: 1;
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }
  .icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .menu-list li a{
    font-size: 1rem;
  }




  /* main{
    width: auto;
    height: 100vh;
    background:   #a9313b ;
    color: white;
}
   */

.btn{
    border: none;
    width: 9rem;
    height: 3rem;
}
.home-btn{
    position: absolute;
    left: 10%;
    top: 80%;
    background-color: #b3b38e;
    color: #ffffff;
    font-family: cursives;
}
.home-btn:hover{
    font-size: 15px;
    background-color: #ffffff;
    color: #b3b38e;
}
.home img{
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 30%;
    height: 37rem;
}
.brand-box{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: auto;
  
  }
  .brands{
   display: flex;
   margin-left: 2rem;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
  }
  .brands img{
    height: 8%;
    width: 13%;
    padding: 1rem 1rem 1rem;
  }
  .brand-bottom{
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }  
  .brand-bottom img{
    height: 8%;
    width: 10%;
    padding: 1rem 1rem 1rem;
  }  

  .brand-link{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .brand-news{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .brand-news h2{
      font-size: 2.5vw;
      font-family: 'Montserrat Alternates', sans-serif;
  }

  .brand-link a{
    text-decoration: none;
    color: white;
  }
  .brand-link a:hover{
    color: #b3b38e;
  }
  


  .spring-box{
    width: 100%;
    height: auto;
    background: #f5f5f7;  
  }
  
  .spring-name, p{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFB392;
  }

  .spring-name h1{
    font-family: 'Moon Dance', cursive;
   }
  
  .spring-box p{
    padding-bottom:1rem ;
  }
  
  /* --------------slide1------------------ */
  
  .slider1{
    padding-bottom: 3rem;
  }

  .spring-box .wrapper{
    margin: 0 auto;
  }
  .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #a9313b;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #b3b38e;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    border-radius: 30px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }




.products {
  /* padding-top: 65rem; */
  background-color: white;
  padding: 4rem 0;
}
.psection-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}



form{

position: relative;
left: 55vw;
bottom: 2rem;
padding-bottom: 1rem;
}

select{
  width: 7vw;
  height: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
}
input{
  width: 20vw;
  height: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
}

form button{
  background-color: #a9313b;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 1rem;

 
}
/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */


/* MEDIA */


  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }


  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }

